{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div class="panel-heading">
                    <div class="row" style="padding:50px;">
                        <h2> New Blog Post: </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <form id="post_form" method="post" action="" enctype="multipart/form-data">
                <div class="row">
                    {% csrf_token %}

                    <div class="col-sm-4 col-sm-offset-1" id="post-form">
                        {% for field in postForm %}
                            <h4>{{ field.label }}</h4> <br> {{ field }} <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                     <input class="btn btn-default" type="submit" name="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}