{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div class="panel-heading">
                    <div class="row" style="padding:50px;">
                        <h2> New Blog Post: </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <form id="post_form" method="post" action="" enctype="multipart/form-data">

                    {% csrf_token %}

                    <div class="col-sm-4 col-sm-offset-1" id="post-form">
                        {% for field in postForm %}
                            <h4>{{ field.label }}</h4> <br> {{ field }} <br>
                        {% endfor %}
                    </div>
                    <div class="col-sm-4 col-sm-offset-1" id="">
                        <h4>Post Photos: </h4><br>
                        {% for form in formset %}
                            {{ form.image }} <br>
                            {{ form.tags.label }} {{ form.tags }} <br><br><br>
                        {% endfor %}
                    </div>

                </form>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input class="btn btn-default" type="submit" name="submit" value="Submit" />
                </div>
            </div>
        </div>

    </div>
    <script>
    $(document).ready(function() {
        $('.checked').click(function () {
            if ($(this).is(':checked')) {
                $("#images-form").show();
            } else {
                $("#images-form").hide();
            }
        });
    });
    </script>
{% endblock %}